*/__pycache__
.~*

# trained models
Resnet/*.pth

# data images
data/test/*
data/train/*
data/labels
data/mask
data/test*
data/class_labels.txt

data_original/

# secrets/api-keys
code/.*
code/*.png

vit_finetuning/*.pth
VIT/*.pth
VIT/data/train/images/*
VIT/data/test/images/*

Resnet/data/train/
Resnet/data/test/
Resnet/data_balanced/train*
Resnet/data_balanced/test*
Resnet/data_ci